BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "in_clock" SITE "PL12A" ;
LOCATE COMP "in_reset" SITE "PL11A" ;
LOCATE COMP "gpio_out_7" SITE "PB8A" ;
LOCATE COMP "gpio_out_6" SITE "PB7A" ;
LOCATE COMP "gpio_out_5" SITE "PB8B" ;
LOCATE COMP "gpio_out_4" SITE "PB7B" ;
LOCATE COMP "gpio_out_3" SITE "PB13B" ;
LOCATE COMP "gpio_out_2" SITE "PB13A" ;
LOCATE COMP "gpio_out_1" SITE "PB15A" ;
LOCATE COMP "gpio_out_0" SITE "PB14A" ;
