BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clock_in" SITE "PL12A" ;
LOCATE COMP "reset_in" SITE "PL11A" ;
LOCATE COMP "led_out_7" SITE "PB8A" ;
LOCATE COMP "led_out_6" SITE "PB7A" ;
LOCATE COMP "led_out_5" SITE "PB8B" ;
LOCATE COMP "led_out_4" SITE "PB7B" ;
LOCATE COMP "led_out_3" SITE "PB13B" ;
LOCATE COMP "led_out_2" SITE "PB13A" ;
LOCATE COMP "led_out_1" SITE "PB15A" ;
LOCATE COMP "led_out_0" SITE "PB14A" ;
